  <form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">{{ _('Hue Bridge Address') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.octohue.bridgeaddr">
        </div>
        <label class="control-label">{{ _('Hue Username') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.octohue.husername">
        </div>
        <label class="control-label">{{ _('Hue Lamp ID') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.octohue.lampid">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('Brightness') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.octohue.defaultbri">
        </div>
    </div> 
    <div class="control-group">
        <h4>Status Colours</h4>
        <div class="control-group">
            <label class="control-label">Connected</label>
            <div class="controls">
                <input type="color" class="input-mini" data-bind="value: settings.plugins.octohue.connectedc">
                <input type="text" class="input-mini" data-bind="value: settings.plugins.octohue.connectedc">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Print Completed</label>
            <div class="controls">
                <input type="color" class="input-mini" data-bind="value: settings.plugins.octohue.completec">
                <input type="text" class="input-mini" data-bind="value: settings.plugins.octohue.completec">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Print Error</label>
            <div class="controls">
                <input type="color" class="input-mini" data-bind="value: settings.plugins.octohue.errorc">
                <input type="text" class="input-mini" data-bind="value: settings.plugins.octohue.errorc">
            </div>
        </div>
    </div>
</form>