<a title="{{ _('Toggle Light') }}" class="pull-right" href="#" data-bind="click: togglehue, visible: ownSettings.showhuetoggle">
    <i class="fa fa-lightbulb-o"></i>
</a>
<a title="{{ _('Toggle Power') }}" class="pull-right" href="#" data-bind="click: togglepower.bind($data, ownSettings.plugid), visible: ownSettings.showpowertoggle">
    <i class="fa fa-lightbulb-o"></i>
</a>